* {
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
}

.container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/*Header */
.header {
    padding: 20px 0;
    margin:0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1;

}


.nav a {
    padding: 20px 0px;
    color: #000;
    font: 12px Poppins, sans-serif;
    margin-left: 32px;
    text-transform: uppercase;
}

.nav a:hover {
    color: rgba(246, 46, 113, 1);

}



/*button */

.btn {
    color: #000000;
    display: inline-block;
    text-align: center;
    padding: 12px 28px;
    margin-top: 30px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 20px;
    text-transform: uppercase;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

.btn:hover {
    background-color: #222222;
    color: #ffffff;
    border: none;
}

.btn2 {
    padding: 12px 28px;
    color: #ffffff;
    background-color: #222;
    border-radius: 20px;
    border: 1px solid #777;
    font-size: 14px;
}

.btn2:hover {
    background-color: #fff;
    color: #000000;
}


/* section 1st */
.div {
    position: relative;
}

.banner-area {
    background: linear-gradient(to top, rgba(246, 46, 113, 0.8), rgba(249, 171, 114, 0.8)), url('header-bg\ \(1\).jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height:0;
    width: 100%;
    transition: .2s ease;
    overflow: hidden;
    background-image: linear-gradient(to top, rgba(246, 46, 113, 0.8), rgba(249, 171, 114, 0.8));
}


.text {
    color: white;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -wekit-transform: translate(-50%, -50%);
    text-align: center;
}

.banner-content1 {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.15em;
    color: white;
    position: absolute;
   margin-top:300px;
   margin-left:500px;
    font-family: 'Poppins', sans-serif;
}

.a {
    position: absolute;
    top: 450px;
    left: 620px;
}

/*2nd */

.h1 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 25px;
}

.gallery1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gallery-box {
    position: relative;
    max-width: 50%;
}

.gallery-box:hover .overlay {
    height: 100%
}

.padding {
    padding-bottom:120px;
    padding-top:120px;
}

.para {
    color: #777777;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 100px;
    line-height:1.6em;
}

.margin1 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.p2 {
    color: #777777;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

/*third */
.area {
    background-color: #222;
    height: 100%;
}

.img {
    display: block;
    max-width: 100%;
    height: 100%;
}

.block1 {
    max-width: 50%;
    color: #777777;
    font-size: 14px;
    padding-right: 20%;
    padding-left: 5%;
    font-weight: 300;
    line-height: 1.625em;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.block-h1 {
    margin-top: 50px;
    font-size: 35px;
    background-image: linear-gradient(to top, rgba(246, 46, 113, 1), rgba(249, 171, 114, 1));
    line-height: 1.2em;
}

inr {
    font-size: 35px;
}

inr:hover {
    background-image: linear-gradient(to top, rgba(246, 46, 113, 0.8), rgba(249, 171, 114, 0.8));
    -webkit-text-fill-color: transparent;
}